body {
  margin: 0;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: white;
}

section {
  width: 100vw;
}


.intro {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./images/background-dark-small.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.title {
  font-size: 5em;
  margin: 0 !important;
  font-weight: 900;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.footer {
  background-color: #434343;
  height: 30vh;
}

.profile {
  height: 250px;
  transform: translate(0, -125px);
}

.name {
  transform: translate(0, -115px);
  font-weight: 700;
  font-size: 3em;
  margin: 0;
}

.description {
  margin-top: 5px;
  transform: translate(0, -115px);
  font-size: 2em;
  font-weight: 200;
  color: #BDBDBD;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 150px;
  margin: 10px;
  text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}


.logo:hover {
  opacity: 0.5;
}

.about {
  display: flex;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 60px;
  color: #222;
}

.about:hover {
  opacity: 0.5;
  cursor: pointer;
}

.resume {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d3d4d5;
}

.web {
  display: none
}

.mobile {
  display: block
}

@media (orientation: landscape) {
  .title {
    font-size: 3em;
  }

  .logo {
    width: 100px;
  }

  .intro {
    height: 75vh;
    background-image: url('./images/background-dark.png');
  }

  .about {
    width: 100px;
    height: 40px;
    font-size: 1em;
  }


  .footer {
    background-color: #434343;
    height: 25vh;
  }

  .profile {
    height: 150px;
    transform: translate(0, -75px);
  }

  .name {
    transform: translate(0, -75px);
    font-size: 1.5em;
    margin: 0;
  }

  .description {
    transform: translate(0, -75px);
    font-weight: 200;
    font-size: 0.8em;
  }

  .mobile {
    display: none;
  }

  .web {
    display: block;
  }
}
