body {
  margin: 0;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: white;
}

section {
  width: 100vw;
}

.footer {
  background-color: #434343;
  height: 20vh;
}

.intro {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./images/background-dark.png') no-repeat;
  background-size: cover;
}

.title {
  font-size: 5em;
  margin: 0 !important;
  font-weight: 900;
}

.profile {
  height: 200px;
  transform: translate(0, -100px);
}

.name {
  transform: translate(0, -100px);
  font-weight: 700;
  font-size: 3em;
  margin: 0;
}

.description {
  transform: translate(0, -100px);
  font-weight: 200;
  color: #BDBDBD:
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 150px;
  margin: 10px;
}


.logo:hover {
  opacity: 0.5;
}

.about {
  display: flex;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #FF7170;
  width: 200px;
  height: 60px;
  color: white;
}

.about:hover {
  opacity: 0.5;
  cursor: pointer;
}

.resume {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d3d4d5;
}
